.gradle/
captures/
.cxx/
GeneratedPluginRegistrant.java
/local.properties
/gradlew
/gradlew.bat
/gradle

# Build files
**/build/
/app/build.gradle.kts
/settings.gradle.kts
/build.gradle.kts
/gradle.properties

# Google Services config (SHOULD NOT be committed)
/app/google-services.json

# Keystore files (DO NOT COMMIT)
key.properties
**/*.keystore
**/*.jks
